<ion-header>
  <ion-toolbar>
    <ion-title>Feed</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

    <ion-card>
      <ion-card-header>
        <ion-card-subtitle>Animações</ion-card-subtitle>
        <ion-card-title class="feed_title">{{nome_usuario}}</ion-card-title>
      </ion-card-header>
        <img src="assets/imagens/coragem_o_cão_covarde.jpg" alt="Personagem de animação chamado coragem" style="width:100%">
      <ion-card-content>
        Coragem é um cachorro que vive em uma fazenda distante onde acontecem aparições de monstros, fantasmas e outras criaturas. O animal está sempre defendendo e salvando seus donos idosos de eventos misteriosos.
      </ion-card-content>
    </ion-card>

    <ion-card>
      <ion-card-header>
        <ion-card-subtitle>Animações</ion-card-subtitle>
        <ion-card-title class="feed_title01">As Meninas Superpoderosas</ion-card-title>
      </ion-card-header>
        <img src="assets/imagens/as_meninas_super_poderosas.jpg"  alt="Personagens de animação chamadas de as meninas super poderosas" style="width:100%">
      <ion-card-content>
        Acidentalmente criadas em laboratório por um professor, três irmãs combatem os malfeitores em Townsville.
      </ion-card-content>
    </ion-card>

    <ion-card>
      <ion-card-header>
        <ion-card-subtitle>Animações</ion-card-subtitle>
        <ion-card-title class="feed_title02">Bob Esponja Calça Quadrada</ion-card-title>
      </ion-card-header>
        <img src="assets/imagens/bob_esponja.jpg"  alt="Personagem de animação chamado bob esponja, que está comemorando com seus amigos 20 anos da animação" style="width:100%">
      <ion-card-content>
        Uma esponja-do-mar chamada Bob Esponja Calça Quadrada mora com seu caracol de estimação na Fenda do Biquíni, no fundo do oceano. Bob trabalha no Siri Cascudo e, nas horas vagas, vive arrumando confusões com seu melhor amigo, a estrela-do-mar Patrick.
      </ion-card-content>
    </ion-card>


</ion-content>
