ion-card-title.feed_title.ion-inherit-color.md.hydrated {
    color: rgb(110, 25, 110);
}
ion-card-title.feed_title01.ion-inherit-color.md.hydrated {
  color: rgb(228, 213, 9);
}
ion-card-title.feed_title02.ion-inherit-color.md.hydrated {
  color: rgb(29, 172, 216);
}
